* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: lightblue;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  border: 1px solid black;
  display: grid;
  background-color: white;
}

#buttons-container {
  position: relative;
  margin: 20 auto;
  width: 100px;
  display: grid;
}